.DS_Store
local.properties
xcuserdata

build/
.gradle/
.idea/
.kotlin/
kotlin-js-store/
SwiftCLI/.build/
SwiftCLI/.swiftpm/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
